@import "tailwindcss";
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background-color: transparent;
  position: absolute;;
  width: 100%;
  top:0;
  left:0;
}

.logo{
  font-size: 1.8rem;
  font-weight: bold;
  color: #1b0101;
  cursor:pointer;
}
.nav-links{
  display: flex;
  gap: 40px;
}
.nav-links a{
  text-decoration: none;
  color: #1b0101;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}
.nav-links a:hover{
  color: #ff4c4c;

}